* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #003259  
}

header {
background-image: url('img1.png'); background-repeat: no-repeat; background-size: 100%;
display: flex;
flex-direction: column;
position: inherit;
color: black;
}

h1{
  font-family: 'Questrial';
  font-size: 60px;
  color: black;
  padding-left: 5%;
  padding-top: 10%;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
}

footer {
background-color: white;
font-size: 30px;
font-style: normal;
height: 80px;
}

.bulletpoint{
  padding: 1%;
  style="border-top: 2px solid #FFDC8C;
}

p {
  vertical-align: middle;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
  color: white;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #FFDC8C;
}

.section{
  display: flex;
  flex-direction: column;
  position: inherit;
  padding: 2%;
}

.button{
  font-family: 'Raleway', sans-serif;
  border: none;
  color: black;
  height:40px;
  width: 33%;
  font-size: 15px;
  padding:15px;
  background-color: white;
}

.button:hover{
  background-color: lightgrey;
  font-family: 'Raleway', sans-serif;
}
